@font-face {
    font-family: Odin;
    src: url(Norse-Bold.otf);
}

:root {
    font-size: 16px;
}

body {
    display: flex;
}

header {
    background-image: url(background-image.jpg);
    background-size: cover;
    height: 100vh;
    width: 50vw;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    padding: 5px;
    height: 6em;
    background: black;
    opacity: .6;
}

h1 {
    color: white;
    font-family: Odin;
    font-size: 48px;
}

img {
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



h3, .content {
    padding-left: 30px;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin: 0px 50px 20px 0px;
}

input {
    width: 250px;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    background-color: antiquewhite;
}

input:invalid {
    border-color: red;
}

input:focus {
    border-color: blue;
}

button {
    background-color: #596D48;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    color: white;
}



.introduction, .submission {
    background-color: rgb(189, 231, 247);
    padding: 30px;
}

.introduction p{
    text-align: start;
    font-weight: bold;
    font-size: 18px;
    max-width: 75ch;
}

.content {
    display: flex;
    flex-wrap: wrap;
}